<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="/static/css/index.css" type="text/css"/>
    <link rel="stylesheet" href="/static/css/login.css" type="text/css"/>
    <link rel="image_src" href="/static/xnoteWelcomeLogo.png" />

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,900' rel='stylesheet' type='text/css'>

    <meta name = "viewport" id = "viewport_device">
    <!--START MIXPANEL-->
	<script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
            for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
    </script>
    <!--END MIXPANEL-->
    <title>xnote</title>
</head>

<body>
		{{{ body }}}
	<div class="landing-nav-bar"></div>
	<div class="container xnote-container">
		<div>
			<div class="row centered">
				<div class="col-md-12">
					<div class="logo-container">
						<img class="logo" src="/static/xnote_logo.png"></img>
						<div class="logo-name">NOTE</div>
						<div class="logo-beta">BETA</div>
					</div>
				</div>
			</div>
			<div class="row centered">
				<div class="col-md-12">
					<p class="title">Annotate. Together.</p>
				</div>
			</div>
	    </div>


	    <footer class="footer">
	      <div class="container">
	      	   <ul class="nav navbar-nav">
	            <li><a href="https://docs.google.com/document/d/1NOMsFQqvBTysQNmSmZJM2ZN5NQoiDkHFeEg9nFYpUgo/edit?usp=sharing">Terms</a></li>
	            <li><a href="https://docs.google.com/document/d/1xlPff9xHhS0aszBvYRvWTCtU6wY7SOrsh_hH7GzddRs/edit?usp=sharing">Privacy</a></li>
	          </ul>
	      </div>
	    </footer>
	</div>

	<script src="/static/js/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/rangy/log4javascript_stub.js"></script>
        <script type="text/javascript" src="/static/js/rangy/core.js"></script>
        <script type="text/javascript" src="/static/js/rangy/dom.js"></script>
        <script type="text/javascript" src="/static/js/rangy/domrange.js"></script>
        <script type="text/javascript" src="/static/js/rangy/wrappedrange.js"></script>
        <script type="text/javascript" src="/static/js/rangy/wrappedselection.js"></script>
        <script type="text/javascript" src="/static/js/rangy/rangy-classapplier.js"></script>
        <script type="text/javascript" src="/static/js/rangy/rangy-highlighter.js"></script>

        <script type="text/javascript" src="/static/js/rangy/rangy-textrange.js"></script>


	<script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/landing.js"></script>
	<script>
	    if(navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPod/i) || navigator.userAgent.match(/Android/i)
	    || navigator.userAgent.match(/BlackBerry/i) || navigator.userAgent.match(/IEMobile/i)) {
	        $("#viewport_device").attr("content", "initial-scale = 0.50");
	    }
	    else if(navigator.userAgent.match(/iPad/i)) {
	        $("#viewport_device").attr("content", "initial-scale = 1.00");
	    }
	</script>


</body>
</html>
