<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto:100,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/dash.css">

    <style>
        body        { padding-top:80px; }
    </style>
</head>

<body>
  	<div id="dashboard-container"></div>
  	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  	<script src="../static/js/bootstrap.min.js"></script>
  	<script src="../static/js/dashboard.js"></script>
</body>
</html>
