<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css"/>
        <link rel="stylesheet" href="/static/css/social.css" type="text/css"/>
        <title>Xnote Group</title>
    </head>
    <body>
        <span id="<%= groupId %>" class="group-id-span"></span>
        <div id="group-container"></div>

        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/social.js"></script>
    </body>
</html>
