.poop-note-form {
	border: 1px solid black;
	min-height: 40px;
    max-height: 200px;
    overflow: auto;
}



#dashboard-container {
	overflow: hidden;
}

.article-list-container {
	width: 80%;
	position: absolute;
	margin-left: 10%;
	margin-top: 40px;
}

.article-item-container {
	position: relative;
    overflow: hidden;
}

.article-item-title {
	padding-top: 10px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 16px;
}

.title-timestamp {
/*	display: inline;
	float:left;*/
	float:left;
	padding-left: 20px;
}

.article-item-timestamp {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 14px;
	float: left;
	color: #BDBDBD;
}

.article-image-container {
	position: relative;
	float: right;
	height: 100%;
}

.article-item-image {
	height: 50px;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
}



/* ------------------------------------ ADD-ARTICLE-FORM --------------------------------- */


.add-article-spinner {
	width: 30px;
	margin-left: 4px;
}

.add-article-form {
	position: relative;
	float: left;
	width: 250px;
	height: 30px;
	border-width: 1px;
	border-color: #fff;
	border-radius: 5px;
}

.add-article-form-input {
	width: 250px;
	height: 30px;
	margin: auto;
}

.add-article-container {
/*	position: absolute;*/
	overflow: hidden;
	width: 500px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}


/* ------------------------------------ NAVBAR --------------------------------- */

.dash-username {
	margin-top: 8px;
}

a {
    color: #34BE5F;
}

.navbar-nav>li>a {
    color: #34BE5F;
}

.navbar-default {
    color: #34BE5F;
}

.dropdown-open {
    background-color: #34BE5F;
}

/*.dropdown-menu {
    background-color: #34BE5F;
}
*/

.navbar-default .navbar-nav>.open>a,
 .navbar-default .navbar-nav>.open>a:focus,
  .navbar-default .navbar-nav>.open>a:hover {
     background-color: #34BE5F;
}

.dash-nav {
  /*  color: #34BE5F;*/
    color: #fff;
    background-color: #34BE5F;
    height: 35px;
    min-height: 0px;
    padding: 0px;
    border-radius: 0px;
    margin: 0px;
/*    border-bottom-width: 1px;
    border-bottom-color: #34BE5F;
    border-bottom-style: solid;*/
}

.nav-link {
    padding: 0px;
    margin-top: 8px;
    height: 19px;
    margin-left: 20px;
    color: #fff;
}

.navbar-nav>li>a {
    padding: 0px;
    color: #fff;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.navbar-brand {
    float: left;
    height: 25px;
    margin-top: 5px;
    padding: 0px;
}

/* ------------------------------------ LOADING-SPINNER --------------------------------- */
#loadingDiv {
	position: fixed;
	top: 50%;
	left: 50%;
}

/* ------------------------------------ SEARCH --------------------------------- */

.search-result-note-container {
	position: relative;
	border-bottom: solid;
	border-color: #d3d3d3;
    border-width: 1px;
    overflow: hidden;
    position: relative;
}

.note-title-tstamp {
	float: left;
	padding-left: 15px;
}

.note-title {
	padding-top: 10px;
	font-family: 'Crimson+Text', serif;
	font-size: 16px;
}

.note-tstamp {
	font-family: 'Roboto:300';
	font-size: 11px;
	float: left;
	color: #BDBDBD;
}

.search-result-count {
	background-color: #34BE5F;
	display: inline-block;
	color: #FFFFFF;
	padding: 5px;
	border-radius: 4px;
}

.note-icon {
	margin-left: 15px;
	margin-top: 25px; 
	float: left;
	font-family: 'Roboto:300', sans-serif;
	font-size: 11px;
	background-color: #34BE5F;
	display: inline-block;
	color: #FFFFFF;
	padding: 1px;
	padding-left: 3px;
	padding-right: 3px;
	border-radius: 4px;
}

img.search-icon {
	height: 25px;
    cursor: pointer;
    float: right;
    margin-top: 15px;
/*    position: relative;*/
/*    left: 300px;
    z-index: 10000;
    opacity: 0.8;
/*    
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;*/
}
input.search-form {
    padding: 10px;
}
#search-container {
    width: 300px;
}
.search-toggle {
    float: right;
    padding-top: 3px;

}


.form-input {
	padding: 15px;
	margin-left: 3px;
	width: 60%;
	height: 90%;
	margin-top: 5px;
	margin-bottom: 5px;
	display: inline;
	border-width: 1px;
	border-radius: 5px;
	float: left;

}

.loading {
	background-color: #fff;
}

.loading:focus {
	outline-width: 0px;
	outline-color: #34BE5F;
}


.add-article-button {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;

	width: 30%;
	display: inline;
	height: 90%;
	margin-top: 5px;
	margin-bottom: 5px;
	border-color: #FFF;
	border-width: 0px;
	border-radius: 0px;
	height: 52px;

	border-width: 1px;
	border-radius: 5px;
	margin-left: 13px;
	margin-right: 8px;
}

.error-message {
	overflow: hidden;
	width: 500px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
	text-align: center;
	margin-bottom: 15px;

	color: #f00;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 16px;
}


.btn-primary {
	color: #fff;
	background-color: #34BE5F;
	border-color: #34BE5F; 
}

.btn-primary:hover {
	background-color: #2A984C;
	border-color: #2A984C;
}















