.app-toolbar {
  position: fixed;
  top:0px;
}

.add-group-button {
  position: absolute;
  bottom: 24px;
  right: 24px;
  z-index: 1000;
}

.groups-div {
  position:absolute;
  top:40px;
  height:calc(100% - 30px);	
}