body {
  font-family: 'Crimson+Text', serif;
  font-size: 21px;
}

input, textarea {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 14px;
	color: #000;
}


.note {
	cursor: "cross-hair";  
	/*background-color: #87cefa;*/
	background-color: #87cefa;
	padding: 2px 0;
}

/*.note-view{
  position: absolute;
  overflow: auto;
  border-left: 1px solid;
  padding-left: 4px;
  background-color: #FFFFFF;
  z-index: 1;
}*/

/* ----------------------------------------------- ADD-NOTE-FORM -------------------------------------*/
.add-note-form-container {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 10;
	background-color: #f3f3f7;
	border: 1px solid;
	border-color: #d3d3d3;
	border-radius: 5px;
	display: inline-block;
}

.add-note-button {
	position: fixed;
	height: 50px;
	width: 50px;
	z-index: 10;
	background-color: #FFF;
	border: 1px solid;
	border-color: #d3d3d3;
	border-radius: 100px;
}

.add-note-image {
	display: block;
	margin: auto;
	margin-top: 9px;
}


textarea:focus {
	border-color: #34BE5F;
	border: 2px;
}

.note-form {
	display: block;
	width: 300px;
	height: 50px;
	padding: 10px;

	margin: 10px;
	border: 1px solid;
	border-color: #d3d3d3;
	border-radius: 5px;
	background-color: #fff;
}

.action-bar {
	text-align: center;
	background-color: #f8f8f9;
	display: inline-block;
	width: 320px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-bottom: 1px solid;
	border-color: #d3d3d3;
}

.form-button {
	font-size: 16px;
	font-weight: 500;
	line-height: 44px;
	color: #2384d1;
	font-family: Helvetica,Arial,sans-serif;
}

.add-note-done {
	float: right;
	cursor: pointer;
}

.add-note-cancel {
	float: left;
	cursor: pointer;
	font-weight: 200;
}

.label {
	font-weight: 600;
	color: #000;
}

/* ----------------------------------------------- ADD-NOTE-FORM -------------------------------------*/

/*.note-view{
	border-left: 1px solid;
	border-color: #d3d3d3;
	background-color: #FFFFFF;
	z-index: 1;
	margin-right: 13px;
}*/

.note-view {
	top: 50%;
	left: 50%;
	z-index: 100000;
	background-color: #fff;
	border: 1px solid;
	border-color: #d3d3d3;
	border-radius: 5px;
	display: inline-block;
}


.article-container {
	margin-top: 1in;
	margin-bottom: 1in;
}

.article-title {
	margin: auto;
	display: block;
	margin-bottom: 1in;
}

.note-clipped-text {
	padding: 20px;
	font-size: 24px;
}

.note-content {
	padding: 10px;
	font-family: Helvetica,Arial,sans-serif;
	font-size: 14px;
	color: #000;
}

.xnote-color {
	background-color: #34BE5F;
}


/*---------------------------------------------------------- non-article-viewstuff------------------------*/

a {
    color: #34BE5F;
}

.num-notes {
	color: #34BE5F;
}

.nav-bar-logo {
	padding-bottom: 10px;
	margin: auto;
	display: block;
}

.note-action-bar {
	position: relative;
	border-bottom: 1px;
	padding-left: 7px;
	padding-right: 7px;
	border-color: #d3d3d3;

}

#action-bar-icon {
	margin-top: 6px;
	width: 30px;
	display: block;
	cursor: pointer;
}

.action-note-settings {
	float: right;
}

.settings-dropdown {
	left: 35%;
}

.note-settings-share {
	border-bottom: 1px solid;
	border-color: #d3d3d3;
	text-align: center;
	cursor: pointer;
}

.share-url-box {
	position: absolute;
	z-index: 10000000;
	border: 1px solid ;
	border-color: #d3d3d3;
	border-radius: 5px;
	background-color: #f8f8f9;
}

.share-note-url-text {
	background-color: #FFF;
	margin: 10px;
	margin-top: 5px;
	padding: 3px;
	border-radius: 5px;
	border: 1px solid #d3d3d3;
	font-size: 16px;
	font-weight: 500;
	color: #2384d1;
	font-family: Helvetica,Arial,sans-serif;
	height: 40px;
	white-space: nowrap;
	overflow-x: scroll;
	overflow-y: hidden;
}

.share-note {
	float: right;
}

.note-share {
	height: 30px;
	float: right;
	margin-right: 10px;
}

.note-url-label {
	font-weight: 600;
	margin-top: 4px;
	font-family: Helvetica,Arial,sans-serif;
	font-size: 16px;
	color: #000;
	float: left;
}

.note-settings-delete {
	text-align: center;
	cursor: pointer;
}

.action-note-edit {
	float: right;
	margin-right: 5px;
}



