.group-sidebar-container {
  position: fixed;
  width: 37%;
  height: 100%;
  top: 35px;
}

.app-toolbar {
  position: fixed;
}

.article-toolbar {
  position: fixed;
  left: 0px;
}

.content-view {
  position: fixed;
  width: 60%;
  height: calc(100% - 40px);
  top: 40px;
  right: 0;
  overflow-y: scroll;
}

.article-container {
  position: fixed;
  top: 35px;
}

.add-article-button {
  position: fixed;
  bottom: 24px;
  right: 24px;
}

.feed-container {
  overflow-y : scroll;
  height: 100%;
  width: 100%;
}

.chat-container, .chat-messages {
  height: 100%;
  width: 100%;
}

.chat-messages-card {
  overflow-y : scroll;
  height: calc(100% - 24px);
  width: 100%;
}

.chat-form {
  width:100%;
  position: relative;
  bottom: 0px;
}