.group-sidebar-container {
  position: fixed;
  width: 37%;
  overflow: scroll;
  top: 35px;
}

.app-toolbar {
  position: fixed;
}

.article-toolbar {
  position: fixed;
  left: 0px;
}

.article-list-item {
  margin: 2px;
  margin-top:3px;
}

.content-view {
  position: fixed;
  width: 60%;
  height: calc(100% - 57px);
  top: 40px;
  right: 0;
  overflow: scroll;
}

.article-container {
  position: fixed;
  top: 35px;
}

.add-article-button {
  position: absolute;
  bottom: 24px;
  left: calc(100% - 72px);
}