.group-sidebar-container {
  position: fixed;
  width: 40%;
  height: 100%;
  top: 35px;
}

.app-toolbar {
  position: fixed;
}

.article-toolbar {
  position: fixed;
  left: 0px;
}

.content-view {
  position: fixed;
  width: 60%;
  height: calc(100% - 40px);
  top: 40px;
  right: 0;
  overflow-y: scroll;
}

.add-article-button {
  position: fixed;
  bottom: 24px;
  right: 24px;
}

.add-article-spinner {
  position: fixed;
  bottom: 24px;
  right: 48px;
}

.feed-container {
  overflow-y : scroll;
  height : 100%;
  background-color : #F6F6F6;
  color : #f6f6f6;
}

.chat-container {
  height : 100%;
}

.tab-container-container {
  height: calc(100% - 78px);
}

.chat-messages {
  height : calc(100% - 45px);
  overflow-y: scroll;
  bottom :0px;
}

.chat-form {
  padding-right : 20px;
  width:100%;
  bottom: 0px;
}

textarea {
  width: 100%;
  border-left : 0px;
  border-right : 0px;
  border-top : 0px;
  border-bottom: 5px;
}

*:focus {
    outline: 0;
}